.imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.overlay {
  position: relative;
  width: 375px;
  top: 139px;
}

.feedImg {
  position: relative;
  width: 370px;
  border-radius: 40px;
}

.feedImgOffset {
  top: 177px;
}

.postButton {
  position: absolute;
  top: 242px;
  z-index: 2;

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 32px;
  gap: 10px;

  position: absolute;
  width: 350px;
  height: 60px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.63);
  border-radius: 20px;

  color: white;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  border-radius: 40px;
}

.blur::before {
  backdrop-filter: blur(8px);
}

.title{
  position: absolute;
    width: 343px;
    height: 34px;
    left: 25px;
    top: 79px;
  
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
  
    color: #E7E8E3;
}

.description{
  position: absolute;
    width: 327px;
    height: 26px;
    left: 38px;
    top: 116px;
  
    font-family: 'Segoe UI';
    font-style: italic;
    font-weight: 700;
    font-size: 11px;
    line-height: 120%;
    /* or 13px */
  
    text-align: center;
  
    color: #FFFFFF;
}

.new{
  position: absolute;
    width: 132px;
    height: 34px;
    left: 50px;
    top: 164px;
  
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
  
    color: #E7E8E3;
    background-color: black;
    border: none;
}

.ranking{
  position: absolute;
    width: 132px;
    height: 34px;
    left: 210px;
    top: 164px;
  
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
  
    color: #3F414E;
    background-color: black;
      border: none;
}

.profile{
  position: relative;
    width: 30px;
    height: 30px;
    left: 12px;
    top: 222px;
}

.username{
  position: relative;
  width: 30px;
  height: 30px;
  left: 52px;
  top: 178px;


  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;

  color: #E7E8E3;
}

.numLikesHidden {
  position: relative;
  width: 144px;
  height: 24px;
  left: 280px;
  top: 135px;

  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;

  color: #99DAB3;
}

.overlayContainer {
  position:relative
}