.container {
  width: 100%;
  height: 100%;
}

.backButton {
  background-color: Transparent;
  border:none;
  position: relative;
  width: 23px;
  height: 23px;
  left: 3px;
}

.settings {
  background-color: Transparent;
  border: none;
  position: relative;
  width: 23px;
  height: 23px;
  left: 330px;
}
